#Este archivo es un ejemplo, copia este archivo y renombralo como .env

POSTGRES_DB=foodlink_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_PORT=5432

PGADMIN_EMAIL=admin@foodlink.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050