# ─── Maven ────────────────────────────────────────────────────────────────────
target/
*.class
.mvn/wrapper/maven-wrapper.jar

# ─── IntelliJ IDEA ───────────────────────────────────────────────────────────
.idea/
*.iml
*.iws
*.ipr

# ─── VS Code ─────────────────────────────────────────────────────────────────
.vscode/*
!.vscode/extensions.json

# ─── Eclipse ─────────────────────────────────────────────────────────────────
.classpath
.project
.settings/

# ─── Variables de entorno ────────────────────────────────────────────────────
.env
*.env
.env.*

# ─── Logs ────────────────────────────────────────────────────────────────────
*.log
logs/

# ─── Sistema operativo ───────────────────────────────────────────────────────
.DS_Store
Thumbs.db

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.project
.classpath